*{
margin: 0;
padding: 0;

}
/* body{

    background-color: rgb(238, 232, 232);
} */
container{
    position:absolute; 
    top:3.2rem; 
    z-index: -1;
}

.welcome_banner{
    height:30vh;
    width:100vw;
    padding-top: 5rem;
    background-color: rgba(223, 221, 221, 0.747);
    /* background-image: url("utilities/images/bg.jpg"); */
    color: rgb(165, 19, 170);
    text-align: center;

}

.post_on_home{
    padding: 1rem;
    background-color: aliceblue;
}